In [1]:
# dictionaries
d = {'key1':'values', 'key2':123}

In [2]:
d['key1']

'values'

In [3]:
d['key2']

123

In [4]:
d = {'k1':[1, 2, 3]}

In [5]:
d['k1']

[1, 2, 3]

In [6]:
d['k1'][2]

3

In [7]:
my_list = d['k1']

In [8]:
my_list[0]

1

In [9]:
d = {'k1':{'innerkey':[1,2,3]}}

In [10]:
d['k1']

{'innerkey': [1, 2, 3]}

In [14]:
d['k1']['innerkey'][1]

2

In [ ]:
# Booleans

In [13]:
True

True

In [15]:
False

False

In [16]:
my_list = [1, 2, 3]

In [17]:
my_list[0]

1

In [ ]:
# tuples

In [18]:
t = (1, 2, 3)

In [19]:
t[0]

1

In [21]:
my_list[0] = 'NEW'

In [22]:
my_list

['NEW', 2, 3]

In [23]:
# tuples are different

In [25]:
# t[0] = 'NEW'will produce error. Tuples are immutable. Use these when you don't want user to be able to change elements

In [ ]:
# Sets = collection of unique elements

In [26]:
{1, 2, 3}

{1, 2, 3}

In [27]:
{1, 1, 1, 2, 2, 3, 3, 3}

{1, 2, 3}

In [28]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6,6,7])

{1, 2, 5, 6, 7}

In [29]:
s = {1, 2, 3}

In [30]:
s.add(5)

In [ ]:
# comparison operators

In [32]:
1 > 2

False

In [33]:
1 < 2

True

In [34]:
1 >= 2

False

In [35]:
1 == 1

True

In [36]:
1 ==2

False

In [37]:
1 != 3

True

In [38]:
'hi' == 'bye'

False

In [39]:
'hi' != 'bye'

True

In [40]:
1 < 2

True

In [41]:
1 < 2 and 2 < 3

True

In [42]:
1 < 2 and 2 > 3

False

In [43]:
(1 < 2) or (2 > 3)

True

In [44]:
True and True

True

In [46]:
True and False

False

In [47]:
True or False

True

In [ ]:
# Code blocks Else If Elif

In [48]:
if 1 < 2:
    print('yep!')

yep!

In [49]:
if True:
    print('perform code')

perform code

In [50]:
if True:
    x = 2 + 2

In [51]:
x

4

In [52]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [54]:
# keep in mind it will only execute first function that is true
if 1 == 2:
    print('First')
elif 4==4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

second